:root {
    --theme: #03037d;
    --mainText: rgba(255, 255, 255, 0.925);
}

body {
    background-color: var(--theme);
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 1%;
    margin-left: 0px;
}

h1, h2, h3, p {
    color: var(--mainText);
}

nav {
    position: absolute;
    right: 5px;
}

h1 {
    margin-left: 10px;
    font-size: 150%;
    color: var(--mainText);
}

ul {
   display: flex;
   justify-content: space-evenly;
   align-items: flex-end;
   min-width: 300px;
   list-style-type: none;
}


nav a {
    background-color: unset;
    color: var(--mainText);
    font-weight: bold;
    text-decoration: underline 2px;
}

a {
    background-color: unset;
    color: var(--mainText);
    text-decoration: none;
}

nav a:hover {
    color: var(--theme);
    background-color: var(--mainText);
}

.hero-background {
    background-image: url("../images/hero-bg.jpg");
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-background img {
    border-radius: 50%;
    position: relative;
    top: 30px;
    left: 20px;
    border: 3px solid var(--themes);
}

mso a, tig a, aplc a, gg a {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}