:root {
  /*set global colours */
  --theme: #03037d;
  --mainText: rgba(255, 255, 255, 0.925);
}

body {
  background-color: var(--theme);
  height: 100%;
  margin: 0 auto;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
header {
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  padding: 1%;
  margin-left: 0px;
}

/*set text colour */
h1,
h2,
h3,
p {
  margin-left: 50px;
  color: var(--mainText);
}

/*set contact number font colour and to bold*/
li{
  color: var(--mainText);
  font-weight: bold;
}

/*altering for phone screen*/
@media only screen and (max-width: 800px) {
  nav {
    display: none !important;
  }

  #workGrid {
    margin-left: 50px !important;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    display: grid;
    min-height: auto;
    grid-template-rows: 75px;
    grid-template-columns: 50px, repeat(5, 1fr);
    grid-template-areas:
      "title"
      "mso"
      "aplc"
      "tig"
      "gg"
      "spaceinvaders" !important;
  }

  ul {
    
  }
}
nav {
  position: absolute;
  right: 5px;
}

h1 {
  margin-left: 10px;
  font-size: 150%;
  color: var(--mainText);
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  min-width: 400px;
  list-style-type: none;
}

/*create interactive links*/
a {
  color: var(--mainText);
  text-decoration: none;
  font-weight: 700;
  position: relative;
}

a::before {
  content: '';
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 8px;
  z-index: -1;
  transition: all .3s ease-in-out;
}

a:hover::before {
  bottom: 0;
  height: 100%;
}

/*set background image */
.hero-background {
  background-image: url("../images/hero-bg.jpeg");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/*place profile pic over background*/
.hero-background img {
  position: relative;
  top: 30px;
  left: 100px;
  border: 3px solid var(--themes);
}

#about-me {
  display: flex;
  align-items: flex-start;
  height: 100px;
  width: 100%;
  padding: 1%;
  margin-left: 20px;
}

/*align text with header*/
#about-me p {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  margin-left: 31%;
  line-height: 2;
}

/*grid to show off projects*/
#workGrid {
  margin: 0px 5%;
  display: grid;
  height: 750px;
  grid-template-rows: 300px, 300px, 300px;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-areas:
    "title mso mso"
    "title tig aplc"
    "title gg spaceinvaders";
}

#title {
  grid-area: title;
}

/*set images for projects and grid latout*/
#mso {
  grid-area: mso;
  background-image: url("../images/mso.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#tig {
  grid-area: tig;
  background-image: url("../images/twitch-game.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#aplc {
  grid-area: aplc;
  background-image: url("../images/pathfinding.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#gg {
  grid-area: gg;
  background-image: url("../images/guessing-game.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#space-invaders {
  grid-area: spaceinvaders;
  background-image: url("../images/space-invaders.png");
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

/*reduce brightness of all cards */
#mso,
#tig,
#aplc,
#gg,
#space-invaders {
  filter: brightness(60%);
}

/*increase brightness when hovered over*/
#mso:hover,
#tig:hover,
#aplc:hover,
#gg:hover,
#space-invaders:hover {
  filter: brightness(80%);
}

/*background for text in project images*/
h3,
#mso p,
#tig p,
#aplc p,
#gg p,
#space-invaders p {
  background-color: rgba(0, 0, 0, 0.696);
  margin: 0;
}

/*make it so link covers whole image*/
#mso a,
#tig a,
#aplc a,
#gg a {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#contact-me {
  display: flex;
  align-items: flex-start;
  height: 100px;
  width: 100%;
  margin-left: 20px;
}

#contact-me ul {
  width: 100%;
  margin-left: 35%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 25px;
  list-style-type: none;
  padding-right: 200px;
}

footer {
  padding: 25px;
  height: 25px;
  align-items: center;
}
